@page "/inventory"

<h3>Inventory</h3>
<div class="d-grid gap-3">
  <div class="p-2 bg-light border">Item 1</div>
  <div class="p-2 bg-light border">Item 2</div>
  <div class="p-2 bg-light border">Item 3</div>
</div>

@code {

}
