@page "/stock-records"
<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1">Chart depicting the Inventory Items and Total Quantity taken out</h1>
</nav>

@{
     List<string> ItemNameList = new List<string>();
     List<double> QuantityList = new List<double>();

    foreach (var item in keyValuePairs)
    {
        var ItemName = item.Key;
        var TotalQuantity = item.Value;

        ItemNameList.Add(ItemName);
        QuantityList.Add((double)TotalQuantity);
    }

    ItemNameArray = ItemNameList.ToArray();
    QuantityArray = QuantityList.ToArray();

    Series = new List<ChartSeries>() { new ChartSeries() { Name = "Items", Data = QuantityArray } };
    XAxisLabels = ItemNameArray;
}

<div>
    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350px">
        <CustomGraphics>
            <style>
                .mud-chart-bar{
                    stroke-width: 18px;
                }
            </style>
        </CustomGraphics>
    </MudChart>
</div>

@foreach (var item in keyValuePairs)
{
    <p>
        ItemName: @item.Key <br />
        TotalQuantity: @item.Value
    </p>
}



@code {
    [CascadingParameter]
    private Dictionary<string, int> keyValuePairs { get; set; }
    private static string[] ItemNameArray;
    private static double[] QuantityArray;

    protected override void OnInitialized()
    {
        keyValuePairs = InventoryLogService.GetTotalQuantityTakenOut();
    }

    public List<ChartSeries> Series;

    public string[] XAxisLabels;

}

