@page "/stock-records"
<nav class="navbar justify-content-center bg-light">
    <h1 class="navbar-brand mb-0 h1">Chart depicting the Inventory Items and Total Quantity taken out</h1>
</nav>

<style>
    table {
       
        border-spacing: 15px;
        /* margin-left: auto;
            margin-right: auto;
             width: 25%;*/
    }

    th {
        background-color: lightblue;
        padding: 10px;
        text-align: center;
    }

    td {
        background-color: lightgrey;
        padding: 10px;
        text-align: center;
    }

    .legend {
        list-style: none;
        position: absolute;
        margin-top:-230px; 
        margin-left: 200px;
        transform: rotate(-90deg);
        perspective: 100px;
    }

        .legend li {
            float: left;
            margin-right: 10px;
        }

        .legend span {
            border-radius: 50px;
            border: 1px solid #ccc;
            float: left;
            width: 12px;
            height: 14px;
            margin: 2px;
            margin-top: 3px;
        }

        .legend .itemsTaken {
            background-color: #2979FF;
        }

</style>

@{
    List<string> ItemNameList = new List<string>();
    List<double> QuantityList = new List<double>();

    <br />
    <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Total Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in keyValuePairs)
            {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.Value</td>
                            </tr>
                ItemNameList.Add(item.Key);
                QuantityList.Add((double)item.Value);
            }
                    </tbody>
    </table>


    itemNameArray = ItemNameList.ToArray();
    quantityArray = QuantityList.ToArray();

    Series = new List<ChartSeries>() { new ChartSeries() { Name = "Items", Data = quantityArray } };
    XAxisLabels = itemNameArray;
}

<ul class="legend">
    <li><span class="itemsTaken"></span>Total Quantity Taken Out</li>
</ul>

<div style="position:absolute; margin-top:-400px; margin-left: 290px; border: 1px solid black; width: 735px;">
    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="80%" Height="350px">
        <CustomGraphics>
            <style>
                .mud-chart-bar {
                    stroke-width: 20px;
                }

                svg.mud-chart-line.mud-ltr {
                    width: 100%;
                }
            </style>
        </CustomGraphics>
    </MudChart>
</div>

@code {
    [CascadingParameter]
    private Dictionary<string, int> keyValuePairs { get; set; }
    private static string[] itemNameArray;
    private static double[] quantityArray;

    protected override void OnInitialized()
    {
        keyValuePairs = InventoryLogService.GetTotalQuantityTakenOut();
    }

    public List<ChartSeries> Series;

    public string[] XAxisLabels;

}

