@page "/stock-records"
<nav class="navbar justify-content-center bg-light">
    <h1 class="navbar-brand mb-0 h1">Chart depicting the Inventory Items and Total Quantity taken out</h1>
</nav>

@{
    //initialising a list with ItemName
    List<string> ItemNameList = new List<string>();
    //initialising a list with Quantity
    List<double> QuantityList = new List<double>();

    <br />
    @*Creating a table and defining its row and headers*@
    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Total Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @* looping over each key,value in the keyValyePairs (dictionary) to display each data*@
            @foreach (var item in keyValuePairs)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>

                //adding keys to the ItemNameList
                ItemNameList.Add(item.Key);

                //adding values to the QuantityList
                QuantityList.Add((double)item.Value);
            }
        </tbody>
    </table>

    //since, ChartSeries takes array of data, converting List to an array and storing it in itemNameArray
    itemNameArray = ItemNameList.ToArray();

    //also, XAsisLabels takes array of data, hence converting List to an array and storing it in quantityArray
    quantityArray = QuantityList.ToArray();

    Series = new List<ChartSeries>() { new ChartSeries() { Name = "Items", Data = quantityArray } };
    XAxisLabels = itemNameArray;
}


@*displaying the legend*@
<ul class="legend">
    <li><span class="itemsTaken"></span>Total Quantity Taken Out</li>
</ul>

@*specifying the position for the graph*@
<div style="position:absolute; margin-top:-450px; margin-left: 290px; border: 1px solid black; width: 735px;">
    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="80%" Height="350px">
       
        @*modifying few properties of the Chart*@
        <CustomGraphics>
            <style>
                .mud-chart-bar {
                    stroke-width: 15px;
                }

                svg.mud-chart-line.mud-ltr {
                    width: 100%;
                }
            </style>
        </CustomGraphics>
    </MudChart>
</div>

@code {
    [CascadingParameter]
    private Dictionary<string, int> keyValuePairs { get; set; }
    private static string[] itemNameArray;
    private static double[] quantityArray;

    protected override void OnInitialized()
    {
        //getting the calculated data and storing in into keyValuePairs
        keyValuePairs = InventoryLogService.GetTotalQuantityTakenOut();
    }

    public List<ChartSeries> Series;

    public string[] XAxisLabels;

}

